{% import "_includes/forms" as forms %}

<h1>Setup</h1>

<p>When this plugin was installed, it automatically created a field group called <em>SEO</em>. You’ll need to manually add this field group to all sections that you’d like customizable SEO for. <a href="/admin/settings/sections">Go to Sections</a></p>

<h1 style="margin-top: 1em;">Settings</h1>

<div class="field">
  <div class="heading">
    <label for="defaultMetaTitle">Default Title</label>
    <div class="instructions">
      <p>This will be used as the <code>&lt;title&gt;</code> for the hompage, and will be added to the title for all other pages.</p>
    </div>
  </div>
  <div class="input">
    {{ forms.text({
        id:     "defaultMetaTitle",
        name:   "defaultMetaTitle",
        value:  settings.defaultMetaTitle
    }) }}
  </div>
</div>

<div class="field">
  <div class="heading">
    <label for="titleDividerCharacter">Title Divider Character</label>
    <div class="instructions">
      <p>If the meta title has multiple levels of hierarchy, this character will be used to divide them. Example: <em>How We Work – ABC Incorporated</em></p>
    </div>
  </div>
  <div class="input">
    {{ forms.text({
        id:     "titleDividerCharacter",
        name:   "titleDividerCharacter",
        value:  settings.titleDividerCharacter
    }) }}
  </div>
</div>

<div class="field">
  <div class="heading">
    <label for="defaultMetaDescription">Default Meta Description</label>
    <div class="instructions">
      <p>If an entry doesn't have a <em>Meta Description</em> set, this will be used as the fallback.</p>
    </div>
  </div>
  <div class="input">
    {{ forms.text({
        id:     "defaultMetaDescription",
        name:   "defaultMetaDescription",
        value:  settings.defaultMetaDescription
    }) }}
  </div>
</div>