<title>{{ pageTitle }}</title>
{% if description is defined %}<meta name="description" content="{{ description }}">{% endif %}

<meta property="og:title" content="{{ pageTitle }}" />
<meta property="og:site_name" content="{{ siteName }}" />
<meta property="og:type" content="website" />
{% if image is defined %}<meta property="og:image" content="{{ image }}" />{% endif %}
<meta property="og:url" content="{{ url }}" />
{% if description is defined %}<meta property="og:description" content="{{ description }}" />{% endif %}
{% if craft.oneseo.facebookAppId | length  %}
  <meta property="fb:app_id" content="{{ craft.oneseo.facebookAppId }}" />
{% endif %}

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ url }}">
<meta name="twitter:title" content="{{ pageTitle }}">
{% if description is defined %}<meta name="twitter:description" content="{{ description }}">{% endif %}
{% if image is defined %}<meta name="twitter:image" content="{{ image }}">{% endif %}
