<title>{{ title }}</title>
<meta name="description" content="{{ description }}">

<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
{% if image is defined %}
<meta property="og:image" content="{{ image }}" />
{% endif %}
<meta property="og:url" content="{{ url }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="fb:admins" content="USER_ID" />

<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="{{ url }}">
<meta name="twitter:title" content="{{ title }}">
<meta name="twitter:description" content="{{ description }}">
{% if image is defined %}
<meta name="twitter:image" content="{{ image }}">
{% endif %}
